    .header {
        background-color: $color-grey-dark-1;
        grid-column: full-start / col-end 6;
        // text-align: center;
        // padding: 4rem 0;
        background-image: linear-gradient(rgba($color-secondary, .93), rgba($color-secondary, .93)), url(../img/hero.jpeg);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 4rem 0;
        // &>*:not(:last-child) {
        //     margin-bottom: 10rem;
        // // }THIS SHOWS THAT THERE ARE SEVERAL WAYS IN WHICH THIS CAN BE 
        // SOLVED OR ALIGNED... FLEXBOX WITH MARGIN, FLEX WITH GAP OR FLEX WITH GAP OR MARGIN ;
        // // gap: 12rem;
        @media only screen and (max-width: $bp-medium) {
            grid-column: full/full;
        }
        @media only screen and (max-width: $bp-small) {
            padding: 4rem 2rem;
        }
        &__logo {
            display: block;
            height: 3rem;
        }
        &__main {
            text-align: center;
            .btn {
                margin-top: 1.5rem;
            }
        }
        &__seenon-text {
            font-size: 1.6rem;
            margin-bottom: .5rem;
            display: grid;
            align-self: stretch;
            grid-template-columns: 1fr max-content 1fr;
            grid-gap: 1rem;
            color: $color-grey-light-1;
            align-items: center;
            filter: brightness(70%);
            &::before,
            &::after {
                content: "";
                width: 90%;
                justify-self: end;
                background-color: currentColor;
                height: 1px;
                display: block;
            }
            &::after {
                justify-self: start;
            }
        }
        &__prop {
            align-self: stretch;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__seenon-logos {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            justify-items: center;
            &>* {
                display: inline-block;
                filter: brightness(70%);
            }
            img {
                height: 2.5rem;
                @media only screen and (max-width: $bp-small) {
                    height: 1.5rem;
                }
            }
        }
    }