.realtor {
    background-color: $color-secondary;
    grid-column: col-start 7 / full-end;
    display: flex;
    font-size: 1.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5vh;
    padding: 2rem 0;
    @media only screen and (max-width: $bp-medium) {
        grid-column: full/full;
    }
    &__heading {
        color: $color-primary-dark;
        text-transform: uppercase;
    }
    &__overview {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 1.5rem;
        @media only screen and (max-width: $bp-medium) {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: none;
        }
        @media only screen and (max-width: $bp-small) {
            grid-template-rows: repeat(3, 1fr);
            grid-template-columns: none;
        }
    }
    &__details {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
        align-items: center;
        color: white;
        font-size: 1.2rem;
    }
    &__img {
        width: 7rem;
        height: 7rem;
        border-radius: 50% 50%;
    }
    &__name {
        margin-top: 1rem;
        grid-column: 2 /span 1;
        grid-row: 1 /2;
    }
    &__sales {
        grid-column: 2 /span 1;
        grid-row: 2 /3;
    }
    &__sales {
        align-self: start;
    }
}